@font-face {
  font-family: 'Goudy Bookletter';
  src: url('GoudyBookletter1911.otf');
}

@font-face {
  font-family: 'Blackout Midnight';
  src: url('BlackoutMidnight.ttf');
}

.title {
  font-family: "Goudy Bookletter", Georgia, serif;
  margin-top: 100px;
  text-align: center;
}

.button {
  padding: 0.3em 0.8em;
  background-image: linear-gradient(hsl(357, 77%, 60%), hsl(357, 76%, 50%));
  border: none;
  color: white;
  cursor: pointer;
}

.button:active {
  background-image: linear-gradient(hsl(357, 77%, 50%), hsl(357, 76%, 40%));
}

.medium {
  font-size: 16px;
}

.spinner {
  width: 240px;
  height: 240px;
  margin: 20px auto;
  background-color: hsl(257, 80%, 30%);
  border-radius: 50%;
  text-align: center;
}

.chosen-tools {
  font-family: "Blackout Midnight", sans-serf;
  color: hsl(257, 80%, 30%);
  font-size: 220%;
  padding-top: 80px;
  transition: color 2s;
  letter-spacing: 2px;
}

.chosen-tools.show {
  color: white;
  text-shadow: 1px 0px 2px white;
}

.spinner-button {
  display: block;
  margin: 0px auto;
}

.link {
  text-align: center;
  margin-top: 40px;
  font-family: Helvetica Neue, sans-serif;
  font-size: 180%;
}